 @charset="UTF-8";


form#Form {
	font-family:Arial;
	font-size:12pt;
	margin-left: 400px;
	margin-top:130px;
	border:5px;
	border-style:inset;
	border-left-color:rgb(70, 130, 180);
	border-top-color:rgb(70, 130, 180);
	padding-left:20px;
	width:480px;
}
form#Form input#E{
	margin-left:50px;
}
form#Form input#P{
	margin-left:72px;
}	
h3#Title{
	margin-left:125px;
}
	